<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="UnitTestSuite" verbose="1" >
  <test name="Unit">
    <groups>
      <run>
        <exclude name="caliper"  />
      </run>
    </groups>
    <packages>
      <package name="com.peergreen.tasks.*" />
    </packages>
  </test>
</suite>
